<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button slot="start" (click)="close()">
                <span class="btn_close"></span>
            </ion-button>
        </ion-buttons>
        <ion-title>我完成的作业</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="homework_tip">
		作业需修正，请重新提交！
    </div>
    <div class="mine_box" >
		<img src="assets/images/homework_pic1.jpg" alt="">		
		<img src="assets/images/homework_pic1.jpg" alt="">		
		<img src="assets/images/homework_pic1.jpg" alt="">		
	</div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button (click)="toUpload()">修改作业</ion-button>
    </ion-toolbar>
</ion-footer>