<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button *ngIf="url; else noUrl" [routerLink]="[url]" routerDirection="back">
                <span class="btn_back"></span>
            </ion-button>
            <ng-template #noUrl>
                <ion-button slot="start" (click)="close()">
                    <span class="btn_close"></span>
                </ion-button>
            </ng-template>
        </ion-buttons>
        <ion-title>我完成的作业</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="homework_tip" *ngIf="hw.stuhomeworkStatus===2">
        作业需修正，请重新提交！
    </div>
    <div class="mine_box">
        <img *ngFor="let item of path" [src]="item|safeUrl" alt="">
    </div>
    <div class="space"></div>
    <div class="teacher_box1">
        <h3 *ngIf="hw.stuhomeworkStatus===4">老师评语</h3>
        <h5>{{hw.score}}</h5>
        <div [innerHtml]="hw.checkResult|safeHtml">
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar *ngIf="hw.stuhomeworkStatus!==1&&hw.stuhomeworkStatus!==4">
        <ion-button (click)="toUpload()">修改作业</ion-button>
    </ion-toolbar>
</ion-footer>