@import '../../../pub.scss';

.homework_tip {
    height: 2rem;
    padding: 0 .6rem;
    line-height: 2rem;
    color: #cc0000;
    font-size: .9rem;
    background: #f5f6f6 url(assets/images/icon_tip.png) no-repeat .7rem;
    background-size: 1rem;
    padding-left: 2rem;
}

.mine_box {
    padding: .8rem;
    overflow-x: hidden;
}

.mine_box>img {
    border-radius: .4rem;
    margin: .4rem;
    box-sizing: border-box;
}

/*老师评语*/
.teacher_box{
  overflow-x: hidden;
}
.teacher_box1{
  padding: .8rem;
  background: #fff;
}
.teacher_box1 h3{
  color: #01204f;
  font-size: .9rem;
  height: 1.6rem;
  line-height: 1.7rem;
  margin:0;  
}
.teacher_box1 h5{
  color: #cc0000;
  font-size: .7rem;
  height: 1.6rem;
  line-height: 1.7rem;
  margin:0;
}
.mine_home{
  text-align: center;
  padding: .8rem;
}
.teacher_box1 img{
  width: 17.15rem;
  height: 10.3rem;
  border-radius: .4rem;
}
