<div class="main">
    <div class="toolbar">
        <a (click)="prevMonth()" rel="prev">&lt;</a>
        &nbsp;&nbsp;&nbsp;
        <span>{{getCurMonth()}}</span>&nbsp;&nbsp;&nbsp;<span>{{getCurYear()}}</span>
        &nbsp;&nbsp;&nbsp;
        <a (click)="nextMonth()" rel="next">&gt;</a>
    </div>
    <div class="header">
        <div class="item"><span>日</span></div>
        <div class="item"><span>一</span></div>
        <div class="item"><span>二</span></div>
        <div class="item"><span>三</span></div>
        <div class="item"><span>四</span></div>
        <div class="item"><span>五</span></div>
        <div class="item"><span>六</span></div>
    </div>
    <div class="cal" #calendarDiv>
        <div class="day" *ngFor="let item of calendar"><span
                [ngClass]="{'nm': item.getMonth()!==curDate.getMonth(),'signed': item.getMonth()===curDate.getMonth(),'unsigned':item.getMonth()===curDate.getMonth()&&item.getDate()%3===1}">{{item.getDate()}}</span>
        </div>
    </div>
</div>