@import '../../../pub.scss';

.profile-picture{
    width: 10rem;
    height: 10rem;
    // border: 1px solid #cccccc;
    // border-radius: 50%;
    margin: 1.5rem auto;
    // background: no-repeat;
    // background-size: contain;
}

.btn_container{
    margin: 0 5rem;
}