@import '../../../pub.scss';

ion-button {
    i {
        background: url(assets/images/icon_exam_arrow.png) no-repeat;
        background-size: contain;
        width: 1.6rem;
        height: 1.6rem;       
        //transition: 0.3s linear all; 
    }
}

.exam_list>ul>li {
    background: #ffffff;

    div.course {
        line-height: 2.8rem;
        background: #f5f6f6 url(assets/images/icon_exam_list.png) no-repeat .5rem center;
        background-size: 1.3rem;
        padding-left: 1.9rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        word-wrap: normal;
        width: 100%;
        color: #333;
        font-size: .9rem;
        box-sizing: border-box;
        border-top: 1px solid #e6e6e6;
    }
}

.exam_list>ul>li span {
    float: right;
}

.exam_list>ul>li span i {
    color: #cc0000;
}

.exam_list>ul>li em.close {
    background: url(assets/images/icon_exam_listarrow.png);
    background-size: contain;
    width: 1.6rem;
    height: 1.6rem;
    float: right;
    margin-right: .2rem;
    margin-top: .6rem;
    transition: 0.3s linear all;
}

.exam_list>ul>li em.open {
    background: url(assets/images/icon_exam_listarrow.png);
    background-size: contain;
    width: 1.6rem;
    height: 1.6rem;
    float: right;
    margin-right: .2rem;
    margin-top: .6rem;
    transition: 0.3s linear all;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.exam_list>ul>li.active em {
    transform: rotate(90deg);
}

.exam_list>ul>li~div {
    // display: none;
}

.exam_sublist {
    background: #fff;
    overflow: hidden;
}

.exam_sublist li {
    border-bottom: 1px solid #e6e6e6;
    height: 2.8rem;
    line-height: 2.8rem;
    color: #3f3f3f;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    width: 88%;
    font-size: .9rem;
    box-sizing: border-box;
    margin-left: 8%;
}

.exam_sublist li:last-child {
    border-bottom: none;
}

.exam_sublist li i {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #0d6db9;
    display: inline-block;
    margin-right: .5rem;
    margin-top: 1.4rem;
    float: left;
}

.exam_sublist li span {
    float: right;
    font-size: .9rem;
}

.exam_sublist li a {
    background: url(assets/images/icon_exam_ques.png);
    background-size: contain;
    width: 1.6rem;
    height: 1.6rem;
    float: right;
    margin-left: .2rem;
    margin-top: .7rem;
}

.exam_sublist li a.done {
    background: url(assets/images/icon_exam_ans.png);
    background-size: contain;
}