<ion-header>
    <ion-toolbar>
        <ion-title>练习题库</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="openPopMenu()">
                <i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="exam_list">
        <ul>
            <li *ngFor="let item of eSvr.exercisCourses">
                <div class="course">
                    {{item.name}}<em></em><span><i>{{item.questionUsedSum}}</i>/{{item.questionSum}}</span></div>
                <div class="exam_sublist">
                    <ul>
                        <li *ngFor="let d of item.details">
                            <i></i>
                            {{d.name}}
                            <a *ngIf="d.questionSum===d.questionUsedSum&&d.questionSum!==0;else nodone"
                                [ngClass]="{done: d.questionSum===d.questionUsedSum}"></a>
                            <ng-template #nodone>
                                <a (click)="goToAnswer(d)"></a>
                            </ng-template>
                            <span>({{d.questionUsedSum}})</span>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</ion-content>