<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [routerLink]="['/attend']" routerDirection="back">
                <span class="btn_back"></span>
            </ion-button>
        </ion-buttons>
        <ion-title>打卡记录</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content scrollY="false">
    <app-calendar></app-calendar>
    <div class="space"></div>
    <div class="clockin_des clockin_undo">
        <h3><i class="fail"></i>未签到<a (click)="exempt()" class="btn_leave btn_exempt"
                [ngClass]="{btn_exempted: exempted}">申请豁免</a></h3>
        <p>规定考勤时间：00:00-23:59</p>
        <p>岗位地址：甘肃省建筑职业技术学院</p>
    </div>
    <div class="clockin_des clockin_did">
        <h3><i class="success"></i>已签到</h3>
        <div>
            <p>签到时间：8:40</p>
            <p>签到地址：甘肃省建筑职业技术学院</p>
        </div>
        <div class="clockin_require">
            <p>规定考勤时间：00:00-23:59</p>
            <p>岗位地址：甘肃省建筑职业技术学院</p>
        </div>

    </div>
</ion-content>