<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button slot="start" (click)="close()">
                <span class="btn_close"></span>
            </ion-button>
        </ion-buttons>
        <ion-title>上传作业</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="submit()"><span class="btn-submit">提交</span></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="homework_box">
        <p>根据老师的要求来完成作业吧~</p>
        <ul class="clearfix">
            <li *ngFor="let item of viewUrls;let i=index"><img [src]="item|safeUrl" alt=""><a (click)="delPic(i)"
                    class="homework_close"></a></li>
        </ul>
    </div>
    <div class="homework_btns">
        <i class="homework_img" (click)="getPic()"></i>
        <!-- <i class="homework_audio"></i> -->
    </div>
</ion-content>