<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [routerLink]="[url]" routerDirection="back">
                <span class="btn_back"></span>
            </ion-button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="openAnswerCard()">
                <i class="answer-card">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content scrollY="false">
    <div style="height: 100%;" #content>
        <div class="detail_tip exam_tip">
            <span><i>第{{qIndex+1}}题</i>|　共{{questions.length}}题</span><em>(单选)</em>
            <span class="countdown">{{h}}:{{m}}:{{s}}</span>
        </div>
        <div class="exam_subject" [innerHtml]="(questions.length>0?questions[qIndex].question:'')|safeHtml">
        </div>
        <div class="exam_options clearfix" *ngIf="questions&&questions.length>0">
            <a *ngFor="let item of questions[qIndex].optional"
                [ngClass]="{active: questions[qIndex].isSelectedOpt(item)}"
                (click)="questions[qIndex].giveAnswer(item)"><i>{{item.key}}.</i>{{item.description}}</a>
        </div>
        <div class="exam_hand">下一题右滑</div>
    </div>
</ion-content>