<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [routerLink]="['/tabs/exam']" routerDirection="back">
                <span class="btn_back"></span>
            </ion-button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="openAnswerCard()">
                <i class="answer-card">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="detail_tip exam_tip">
        <span><i>第1题</i>|　共50题</span><em>(单选)</em>
        <span class="countdown">{{h}}:{{m}}:{{s}}</span>
    </div>
    <div class="exam_subject">
        下列选项中，正确的一项是（ ）
    </div>
    <div class="exam_options clearfix">
        <a href="javascript:;" class="active"><i>A.</i>无人机应用技术专业韦加班为我院与北京韦加机</a>
        <a href="javascript:;"><i>B.</i>无人机应用技术专业韦加班为我院与北京韦加机</a>
        <a href="javascript:;"><i>C.</i>无人机应用技术专业韦加班为我院与北京韦加机</a>
        <a href="javascript:;"><i>D.</i>无人机应用技术专业韦加班为我院与北京韦加机</a>
    </div>
</ion-content>