<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [routerLink]="['/tabs/home']" routerDirection="back">
                <span class="btn_back"></span>
            </ion-button>
        </ion-buttons>
        <ion-title>考勤打卡</ion-title>
        <ion-buttons slot="end">
            <ion-button class="btn-records" [routerLink]="['/attend/records']">考勤记录</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content scrollY="false">
    <div class="clockin_map" #map id="map_container">
    </div>
    <div class="clockin_des" *ngIf="status!==1">
        <h3><i></i>{{now|date:'yyyy-MM-dd'}}<a *ngIf="status===0" (click)="toAskForLeave()" class="btn_leave">请假</a></h3>
        <p>规定考勤时间：{{attendSvr.company.signStartTime}}-{{attendSvr.company.signEndTime}}</p>
        <p>{{attendSvr.company.companyAddress}}</p>
    </div>
    <div class="clockin_des1" *ngIf="curRecord">
        <h3><i>{{curRecord.signDate|date:'HH:mm'}}</i>签到</h3>
        <p>签到时间：{{curRecord.signDate|date:'HH:mm'}}</p>
        <p>签到地址：{{curRecord.signAddress}}</p>
    </div>
    <a (click)="sign()" class="btn_clockin" [ngClass]="{btn_clockined: status!==0}">{{status!==0?'已签到':'签到'}}</a>
</ion-content>