<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [routerLink]="['/tabs/course']" [queryParams]="{tab:tab}" routerDirection="back">
                <span class="btn_back"></span>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
    <div class="course_video">
        <vg-player class="video-container" (onPlayerReady)="playerReady($event)">
            <vg-overlay-play></vg-overlay-play>
            <vg-buffering></vg-buffering>
            <vg-controls>
                <vg-play-pause class="video-control-btn"></vg-play-pause>
                <!--暂停和恢复播放-->
                <!-- <vg-playback-button class="video-control-btn"></vg-playback-button>倍速播放 -->

                <vg-time-display class="video-control-btn" vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                <vg-scrub-bar class="video-progress">
                    <vg-scrub-bar-current-time [vgSlider]="true"></vg-scrub-bar-current-time>
                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                </vg-scrub-bar>
                <!--<vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>-->
                <vg-time-display class="video-control-btn" vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                <vg-mute class="video-control-btn"></vg-mute>
                <!--当前音量和静音之间切换-->
                <!-- <vg-quality-selector class="video-control-btn" [bitrates]="dashBitrates"
                                         (onBitrateChange)="vgDash.setBitrate($event)">
                </vg-quality-selector> -->
                <!--<vg-volume class="video-control-voice"></vg-volume>&lt;!&ndash;更改音量&ndash;&gt;-->
                <vg-fullscreen class="video-control-btn"></vg-fullscreen>
                <!--全屏和非全屏之间切换-->
            </vg-controls>
            <video #myMedia [vgMedia]="myMedia" [VgMaster]="true"
                id="myMedia" height="200" preload="auto" style="z-index: 100;" crossorigin="true"
                playsinline="true" webkit-playsinline="true" [src]="videoPath" (error)="onVideoError($event)">
            </video>
        </vg-player>
    </div>
    <div class="detail_sub_menu">
        <a (click)="selectTab(1)" [ngClass]="{active: curTab===1}">目录<i></i></a>
        <a (click)="selectTab(2)" [ngClass]="{active: curTab===2}">介绍<i></i></a>
    </div>
    <div class="detail_panels">
        <div class="detail_panel1" [hidden]="curTab!==1">
            <div class="detail_tip">
                <span>共<i>{{course.lessons.length}}</i>课</span>
                <a (click)="download()" class="btn_alldown"><i></i>全部下载</a>
            </div>
            <div class="detail_list">
                <ul>
                    <li class="clearfix" *ngFor="let item of course.lessons" (click)="play(item)">
                        <div class="detail_c">
                            <h3>{{item.lessonName}}</h3>
                            <p>时长{{item.transcodeDurtion}}</p>
                        </div>
                        <div class="detail_btns">
                            <a href="javascript:;" class="detail_btn_play"></a>
                            <a href="javascript:;" class="detail_btn_down"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="detail_panel2" [hidden]="curTab!==2" [innerHtml]="course.courseDetail|safeHtml">

        </div>
    </div>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
</ion-content>