<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="triangle"></ion-icon>
            <ion-label>首页</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="course">
            <ion-icon name="ellipse"></ion-icon>
            <ion-label>课程</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="exam">
            <ion-icon name="square"></ion-icon>
            <ion-label>考试</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="assignment">
            <ion-icon name="square"></ion-icon>
            <ion-label>作业</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>