<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [routerLink]="['/tabs/home']" routerDirection="back">
                <span class="btn_back"></span>
            </ion-button>
        </ion-buttons>
        <ion-title>通知公告</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="deownload_menu notice_menu">
        <div>
            <a *ngFor="let item of noticeSvr.noticeCats" (click)="changeTab(item.noticeCatId,item.name)"
                [ngClass]="{active: curTab===item.noticeCatId}">{{item.name}}<i></i></a>
        </div>
    </div>
    <div class="panels">
        <div class="panel1" *ngFor="let item of noticeSvr.noticeCats" [hidden]="curTab!==item.noticeCatId">
            <div class="notice_list">
                <ul>
                    <li *ngFor="let n of item.notices" (click)="showDetail(item.noticeCatId,n.noticeId)">
                        <h3><i></i>{{n.title}}</h3>
                        <p>{{n.addTime|date:'yyyy-MM-dd'}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ion-content>