<ion-header>
    <ion-toolbar>
        <ion-title>模拟题库</ion-title>
        <ion-buttons slot="end">
            <ion-button >
                <i class="zujuan">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
            </ion-button>
            <ion-button (click)="openPopMenu()">
                <i class="popMenu">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="exam_sublist exam_test">
        <ul>
            <li *ngFor="let item of simuSvr.testPapers">
                <i></i>{{item.examName}}
                <a (click)="goToAnswer(item)" [ngClass]="{done: item.usedStatus===1}"></a>
            </li>
        </ul>
    </div>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
</ion-content>