<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [routerLink]="['/tabs/mine']" routerDirection="back">
                <span class="btn_back"></span>
            </ion-button>
        </ion-buttons>
        <ion-title>离线课件</ion-title>
        <ion-buttons slot="end">
            <ion-button class="btn-edit" (click)="changeEditStatus()">{{!editable?'编辑':'取消'}}</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="deownload_menu">
        <a (click)="changeTab(1)" [ngClass]="{active: curTab===1}">下载中 <span
                *ngIf="(courseDownloadSvr.tasks | downloadTasks:[0,2]).length>0 ">({{(courseDownloadSvr.tasks | downloadTasks:[0,2]).length}})</span><i></i></a>
        <a (click)="changeTab(2)" [ngClass]="{active: curTab===2}">已下载<i></i></a>
    </div>
    <div class="panels">
        <div class="panel1" [hidden]="curTab!==1">
            <div class="list_item down_item clearfix"
                *ngFor="let item of courseDownloadSvr.tasks | downloadTasks:[0,2] ">
                {{item.status===2?'失败':''}}
                <input type="checkbox" [hidden]="!editable" value="{{item.taskId}}" [(ngModel)]="item.checked">

                <img src="assets/images/course_pic.jpg" alt="">
                <div (click)="reDownload(item)">
                    <h3>财务舞弊手段（一）—调整手段</h3>
                    <progress value="{{item.loaded}}" max="{{item.total}}"></progress>
                    <div>
                        <span class="progress_speed fl">{{item.speedToString()}}/s</span>
                        <span class="progress_memory fr">{{item.loadedToString()}}/{{item.totalToString()}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel2" [hidden]="curTab!==2">
            <div class="list_item down_item clearfix" *ngFor="let item of courseDownloadSvr.tasks | downloadTasks:[1] ">
                <input type="checkbox" [hidden]="!editable" value="{{item.taskId}}" [(ngModel)]="item.checked">

                <img src="assets/images/course_pic.jpg" alt="">
                <div (click)="playVideo(item)">
                    <h3>财务舞弊手段（一）—调整手段</h3>
                    <progress value="{{item.loaded}}" max="{{item.total}}"></progress>
                    <div>
                        <span class="progress_speed fl">{{item.speedToString()}}/s</span>
                        <span class="progress_memory fr">{{item.loadedToString()}}/{{item.totalToString()}}</span>
                    </div>
                </div>
            </div>

            <div class="phone_memory">
                <!-- TODO: 可能取不到总空间/ -->
                手机存储：剩余&nbsp;&nbsp;&nbsp;{{freeSpace}}
            </div>
        </div>
    </div>
    <div class="bot_btns" style="display: block;" [hidden]="!editable">
        <a (click)="selectAll()">全选</a>
        <em></em>
        <a (click)="delete(curTab===1?0:1)" class="btn_del">删除<i
                *ngIf="(courseDownloadSvr.tasks | downloadTasks:(curTab===1?[0,2]:[1]):true).length>0">({{(courseDownloadSvr.tasks | downloadTasks:(curTab===1?[0,2]:[1]):true).length}})</i></a>
    </div>
</ion-content>