<ion-header>
    <ion-toolbar>
        <ion-title>作业</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="homework_list">

        <div class="list_item clearfix" *ngFor="let item of homeworkSvr.homeworks">
            <p class="week">{{item.workTimeToWeekDayStr()}}</p>
            <p class="date">{{item.workTimeToStr()}}</p>
            <div>
                <h3 [ngSwitch]="item.stuhomeworkStatus">{{item.homeworkName}}
                    <a *ngSwitchCase="0" (click)="toUpload(item.homeworkId)" class="btn_do btn_todo">去完成</a>
                    <a *ngSwitchCase="1" href="javascript:;" class="btn_did">待批改</a>
                    <a *ngSwitchCase="2" (click)="toMyWork(item.homeworkId)" class="btn_do btn_modify">去修正</a>
                    <a *ngSwitchCase="3" href="javascript:;" class="btn_did">A+</a>
                </h3>
                <div [innerHtml]="item.homeworkDetail|safeHtml">

                </div>
            </div>
        </div>
    </div>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
</ion-content>