ion-toolbar {
    --background: #ffffff;
    --border-style: 0px solid;

    ion-icon {
        color: #01204f;
    }
}

.login_bg {
    background: #fff;
    padding: 0 2.5rem;
}

.login_logo {
    width: 16rem;
    height: 3rem;
    margin: 6.2rem auto;
}

.login_logo img {
    width: 100%;
}

.login_inputs div {
    display: flex;
    height: 3rem;
    line-height: 3rem;
    margin-bottom: 1rem;
}

.login_inputs div i {
    width: 1.2rem;
    height: 1.2rem;
    float: left;
    margin-top: .9rem;
    margin-right: .4rem;
}

.login_inputs div.icon_user i {
    background: url(assets/images/icon_user.png);
    background-size: contain;
}

.login_inputs div.icon_password i {
    background: url(assets/images/icon_password.png);
    background-size: contain;
}

.login_inputs div input,
.login_inputs div input:focus {
    border: 0;
    border-bottom: 1px solid #ebebeb;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 16rem;
    font-family: "PingFang SC";
    outline: none;
}

.login_btn {
    background: #01204f;
    height: 2.2rem;
    line-height: 2.2rem;
    border-radius: 1.1rem;
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
    margin: 4rem 0 0 0;
    width: 100%;
}



ion-item {
    --padding-start: 0;
}

.label-fixed {
    width: 1.2rem;
    min-width: 1.2rem;
    flex: 0 1 auto;
}

.icon-username {
    background: url(assets/images/icon_user.png);
    background-size: contain;
    width: 1.2rem;
    height: 1.2rem;
    display: block;
}

.icon-pwd {
    background: url(assets/images/icon_password.png);
    background-size: contain;
    width: 1.2rem;
    height: 1.2rem;
    display: block;
}