<ion-header>
    <ion-toolbar>
        <!-- <ion-buttons slot="start">
            <ion-button [routerLink]="['/tabs/home']" routerDirection="back">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons> -->
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="login_bg">
        <div class="login_logo">
            <img src="assets/images/login_logo.png" alt="logo">
        </div>
        <div class="login_inputs">
            <ion-item lines="inset">
                <ion-label position="fixed"><span class="icon-username"></span></ion-label>
                <ion-input [(ngModel)]="userName" type="text" placeholder="用户名"></ion-input>
            </ion-item>
            <ion-item style="margin-top: 1.5rem;">
                <ion-label position="fixed"><span class="icon-pwd"></span></ion-label>
                <ion-input [(ngModel)]="pwd" type="password" placeholder="密码"></ion-input>
            </ion-item>
        </div>
        <div class="login_btn" (click)="login()">登录</div>
    </div>
</ion-content>