<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <span class="btn_back"></span>
            </ion-button>
        </ion-buttons>
        <ion-title>答题卡</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content scrollY="false">
    <div class="card_content">
        <h3>单选</h3>
        <div class="card_numbers clearfix">
            <a *ngFor="let item of questions | queFilter:1;let index=index" [ngClass]="{done: item.studentAnswer&&item.studentAnswer!==''}">{{index+1}}</a>
        </div>
        <h3>多选</h3>
        <div class="card_numbers clearfix">
            <a *ngFor="let item of questions | queFilter:2;let index=index" [ngClass]="{done: item.studentAnswer&&item.studentAnswer!==''}">{{index+1}}</a>
        </div>
        <h3>判断</h3>
        <div class="card_numbers clearfix">
            <a *ngFor="let item of questions | queFilter:3;let index=index" [ngClass]="{done: item.studentAnswer&&item.studentAnswer!==''}">{{index+1}}</a>
        </div>
    </div>
    <div class="card_tip">
        <div>
            <i class="done">&nbsp;</i><span>已做</span><em>|</em><i></i><span>未做</span>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button (click)="submit()">{{from&&from==='report'?'查看错题解析':'交卷'}}</ion-button>
    </ion-toolbar>
</ion-footer>