<ion-header>
    <ion-toolbar>
        <ion-title>
            在线课程
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="sub_menu">
        <a (click)="select(1)" [ngClass]="{active: curTab===1}">基本素质<i></i></a>
        <a (click)="select(2)" [ngClass]="{active: curTab===2}">专业教学<i></i></a>
        <a (click)="select(3)" [ngClass]="{active: curTab===3}">素质拓展<i></i></a>
    </div>
    <div class="panels">
        <div class="panel1" [hidden]="curTab!==1">
            <div class="list_item clearfix">
                <img src="assets/images/course_pic.jpg" alt="">
                <div>
                    <h3>财务舞弊手段（一）—调整手段</h3>
                    <p>于老师</p>
                    <a [routerLink]="['/course/detail']" routerDirection="forward"  class="btn_study">进入学习</a>
                </div>
            </div>
            <div class="list_item clearfix">
                <img src="assets/images/course_pic.jpg" alt="">
                <div>
                    <h3>财务舞弊手段（一）—调整手段</h3>
                    <p>于老师</p>
                    <a [routerLink]="['/course/detail']" routerDirection="forward" class="btn_study">进入学习</a>
                </div>
            </div>
            <div class="list_item clearfix">
                <img src="assets/images/course_pic.jpg" alt="">
                <div>
                    <h3>财务舞弊手段（一）—调整手段</h3>
                    <p>于老师</p>
                    <a [routerLink]="['/course/detail']" routerDirection="forward" class="btn_study">进入学习</a>
                </div>
            </div>
            <div class="list_item clearfix">
                <img src="assets/images/course_pic.jpg" alt="">
                <div>
                    <h3>财务舞弊手段（一）—调整手段</h3>
                    <p>于老师</p>
                    <a [routerLink]="['/course/detail']" routerDirection="forward" class="btn_study">进入学习</a>
                </div>
            </div>
            <div class="list_item clearfix">
                <img src="assets/images/course_pic.jpg" alt="">
                <div>
                    <h3>财务舞弊手段（一）—调整手段</h3>
                    <p>于老师</p>
                    <a [routerLink]="['/course/detail']" routerDirection="forward" class="btn_study">进入学习</a>
                </div>
            </div>
            <div class="list_item clearfix">
                <img src="assets/images/course_pic.jpg" alt="">
                <div>
                    <h3>财务舞弊手段（一）—调整手段</h3>
                    <p>于老师</p>
                    <a [routerLink]="['/course/detail']" routerDirection="forward" class="btn_study">进入学习</a>
                </div>
            </div>
        </div>
        <div class="panel2" [hidden]="curTab!==2">
            <div class="list_item clearfix">
                <img src="assets/images/course_pic.jpg" alt="">
                <div>
                    <h3>财务舞弊手段（一）—调整手段</h3>
                    <p>于老师</p>
                    <a [routerLink]="['/course/detail']" routerDirection="forward" class="btn_study">进入学习</a>
                </div>
            </div>
            <div class="list_item clearfix">
                <img src="assets/images/course_pic.jpg" alt="">
                <div>
                    <h3>财务舞弊手段（一）—调整手段</h3>
                    <p>于老师</p>
                    <a [routerLink]="['/course/detail']" routerDirection="forward" class="btn_study">进入学习</a>
                </div>
            </div>
        </div>
        <div class="panel3" [hidden]="curTab!==3">
            <div class="xx_choose">
                <form action="">
                    <ul>
                        <li><input type="checkbox" id="course1" checked=""><label for="course1">选修课一</label></li>
                        <li><input type="checkbox" id="course2"><label for="course2">选修课二</label></li>
                        <li><input type="checkbox" id="course3"><label for="course3">选修课三</label></li>
                        <li><input type="checkbox" id="course4"><label for="course4">选修课四</label></li>
                    </ul>
                    <p class="tip_txt">请在以上选修课中任意选择四个课程</p>
                    <a href="javascript:;" class="btn_submit">确定</a>
                </form>
                <div class="dialog">
                    <p>您选择的课程是：</p>
                    <ul>
                        <li><i></i>选修课一</li>
                        <li><i></i>选修课三</li>
                    </ul>
                    <div>
                        <a href="javascript:;" class="btn_reset">重选</a>
                        <a href="javascript:;" class="btn_submit1">确定</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</ion-content>