<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [routerLink]="['/tabs/mine']" routerDirection="back">
                <span class="btn_back"></span>
            </ion-button>
        </ion-buttons>
        <ion-title>考试记录</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="deownload_menu exam_menu">
        <a (click)="changeTab(1)" [ngClass]="{active: curTab===1}">在线练习<i></i></a>
        <a (click)="changeTab(2)" [ngClass]="{active: curTab===2}">模拟题库<i></i></a>
        <a (click)="changeTab(3)" [ngClass]="{active: curTab===3}">考试题库<i></i></a>
    </div>
    <div class="panels">
        <div class="panel1" [hidden]="curTab!==1">
            <div class="own_count exam_count exam_lx">
                <div>
                    <h2>{{exerSvr.stateData.leftStr.split('/')[0]}}<i>/{{exerSvr.stateData.leftStr.split('/')[1]}}</i>
                    </h2>
                    <p>已完成</p>
                </div>
                <!-- <div>
                    <h2>{{exerSvr.stateData.middleStr}}</h2>
                    <p>平均分</p>
                </div> -->
                <div>
                    <h2>{{exerSvr.stateData.rightStr}}<i>%</i></h2>
                    <p>正确率</p>
                </div>
            </div>
            <div class="exam_list exam_test" *ngIf="exerSvr.exercisCourses.length>0 else noData">
                <ul>
                    <li *ngFor="let item of exerSvr.exercisCourses">
                        <div class="course">
                            {{item.name}}<em></em><span><i>{{item.questionUsedSum}}</i>/{{item.questionSum}}</span>
                        </div>
                        <div class="exam_sublist">
                            <ul>
                                <li *ngFor="let d of item.details">
                                    <i></i>
                                    {{d.name}}
                                    <a *ngIf="d.questionSum===d.questionUsedSum&&d.questionSum!==0;else nodone"
                                        [ngClass]="{done: d.questionSum===d.questionUsedSum}"></a>
                                    <ng-template #nodone>
                                        <a (click)="goToAnswerExer(d)"></a>
                                    </ng-template>
                                    <span>({{d.questionUsedSum}}/{{d.questionSum}})</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel1" [hidden]="curTab!==2">
            <div class="own_count exam_count">
                <div>
                    <h2>{{simuSvr.stateData.leftStr.split('/')[0]}}<i>/{{simuSvr.stateData.leftStr.split('/')[1]}}</i>
                    </h2>
                    <p>已完成</p>
                </div>
                <div>
                    <h2>{{simuSvr.stateData.middleStr}}</h2>
                    <p>平均分</p>
                </div>
                <div>
                    <h2>{{simuSvr.stateData.rightStr}}<i>%</i></h2>
                    <p>正确率</p>
                </div>
            </div>
            <div class="exam_sublist exam_test" *ngIf="simuSvr.testPapers.length>0 else noData">
                <ul>
                    <li *ngFor="let item of simuSvr.testPapers"><i></i>{{item.examName}}<a
                            (click)="goToAnswer(item,'simu')"
                            [ngClass]="{done: item.usedState===1}"></a><span>(<em>{{item.getScore()}}</em>)</span></li>
                </ul>
            </div>
        </div>
        <div class="panel1" [hidden]="curTab!==3">
            <div class="own_count exam_count">
                <div>
                    <h2>{{examSvr.stateData.leftStr.split('/')[0]}}<i>/{{examSvr.stateData.leftStr.split('/')[1]}}</i>
                    </h2>
                    <p>已完成</p>
                </div>
                <div>
                    <h2>{{examSvr.stateData.middleStr}}</h2>
                    <p>平均分</p>
                </div>
                <div>
                    <h2>{{examSvr.stateData.rightStr}}<i>%</i></h2>
                    <p>正确率</p>
                </div>
            </div>
            <div class="exam_sublist exam_test" *ngIf="examSvr.testPapers.length>0 else noData">
                <ul>
                    <li *ngFor="let item of examSvr.testPapers"><i></i>{{item.examName}}<a
                            (click)="goToAnswer(item,'exam')"
                            [ngClass]="{done: item.usedState===1}"></a><span>(<em>{{item.getScore()}}</em>)</span></li>
                </ul>
            </div>
        </div>
    </div>
    <ng-template #noData>
        <div class="noData">
            <img src="assets/images/nothing.png">
        </div>
    </ng-template>
</ion-content>