@import '../../../pub.scss';

.own_count {
    width: 20rem;
    height: 4.1rem;
    background: #fff;
    border-radius: .6rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    margin: 1.2rem auto;
}

.own_count div {
    float: left;
    width: 25%;
    text-align: center;
    border-right: 1px solid #ebebeb;
    box-sizing: border-box;
}


.own_count div:last-child {
    border-right: none;
}

.own_count h2 {
    margin-top: .5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #cc0000;
}

.own_count p {
    font-size: .45rem;
    color: #999;
}

.deownload_menu {
    height: 3rem;
    line-height: 3rem;
    border-bottom: 1px solid #efefef;
    text-align: center;
}

.deownload_menu a {
    width: 50%;
    float: left;
    color: #101010;
    font-size: 1rem;
    position: relative;
}

.deownload_menu a.active {
    color: #01204f;
}

.deownload_menu a.active i {
    background: #0d6db9;
    height: 2px;
    width: 2rem;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 1rem);
}

.deownload_menu a span {
    color: #cc0000;
}

.exam_menu a {
    width: 33.33%;
}

.exam_count {
    position: relative;
}

.exam_count div {
    width: 33.33%;
}

.exam_count h2 i {
    color: #999;
    font-size: .6rem;
}

.exam_test span {
    float: right;
    font-size: .6rem;
    color: #999;
}

.exam_test span em {
    font-style: normal;
    color: #cc0000;
}

.panels {
    height: 26rem;
    overflow-y: scroll;
    width: 100%;
}

.panels>div.panel1 {
    display: block;
    height: 100%;
}
.exam_list>ul>li {

    div.course {
        line-height: 2.8rem;
        background: #f5f6f6 url(assets/images/icon_exam_list.png) no-repeat .5rem center;
        background-size: 1.2rem;
        padding-left: 1.9rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        word-wrap: normal;
        width: 100%;
        color: #333;
        font-size: .9rem;
        box-sizing: border-box;
        border-top: 1px solid #e6e6e6;
    }
}

.exam_list>ul>li span {
    float: right;
}

.exam_list>ul>li span i {
    color: #cc0000;
}

.exam_list>ul>li em {
    background: url(assets/images/icon_exam_listarrow.png);
    background-size: contain;
    width: 1.6rem;
    height: 1.6rem;
    float: right;
    margin-right: .2rem;
    margin-top: .6rem;
    transition: 0.3s linear all;
}

.exam_list>ul>li.active em {
    transform: rotate(90deg);
}

.exam_list>ul>li~div {
    // display: none;
}

.exam_sublist {
    background: #fff;
}

.exam_sublist li {
    border-bottom: 1px solid #e6e6e6;
    height: 2.8rem;
    line-height: 2.8rem;
    color: #3f3f3f;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    width: 88%;
    font-size: .9rem;
    box-sizing: border-box;
    margin-left: 8%;
}

.exam_sublist li:last-child {
    border-bottom: none;
}

.exam_sublist li i {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #0d6db9;
    display: inline-block;
    margin-right: .5rem;
    margin-top: 1.4rem;
    float: left;
}

.exam_sublist li span {
    float: right;
    font-size: .9rem;
}

.exam_sublist li a {
    background: url(assets/images/icon_exam_ques.png);
    background-size: contain;
    width: 1.6rem;
    height: 1.6rem;
    float: right;
    margin-left: .2rem;
    margin-top: .7rem;
}

.exam_sublist li a.done {
    background: url(assets/images/icon_exam_ans.png);
    background-size: contain;
}


.exam_lx div {   
    width: 50%;    
}
