<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [routerLink]="[url?url:'/notice']" [queryParams]="{tab:curTab,title:title}"
                routerDirection="back">
                <span class="btn_back"></span>
            </ion-button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="notice_con">
        <h3>{{notice.title}}</h3>
        <p class="notice_date">发布时间：{{notice.updateTime | date:'yyyy-MM-dd'}}</p>
        <div class="notice_detail" [innerHtml]="notice.content | safeHtml">

        </div>
        <div class="attach-file" *ngIf="notice.dataUrl">
            <a class="{{notice.getAttachFileTypeCss()}}"
                (click)="openAttachFile(notice)">{{notice.getAttachFileName()}}</a>
        </div>
    </div>
</ion-content>