<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [routerLink]="['/notice']" [queryParams]="{tab:curTab,title:title}" routerDirection="back">
                <span class="btn_back"></span>
            </ion-button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="notice_con">
        <h3>关于2019年第二批高职扩招录取考生推迟报到的通知</h3>
        <p class="notice_date">发布时间：2020-5-31</p>
        <div class="notice_detail">
            <p>
                因受疫情影响，根据我省疫情防控工作实际，为有效减少人员聚集，更好保障师生身体健康，我院决定第二批高职扩招录取考生延期报到，具体时间另行通知。相关信息请关注学院官网和微信公众平台。如有问题请联系0931-2323374。
            </p>
            <p>
                因受疫情影响，根据我省疫情防控工作实际，为有效减少人员聚集，更好保障师生身体健康，我院决定第二批高职扩招录取考生延期报到，具体时间另行通知。相关信息请关注学院官网和微信公众平台。如有问题请联系0931-2323374。
            </p>
        </div>
    </div>
</ion-content>