@import '../../../pub.scss';

.notice_con {
    padding: .6rem;
}

.notice_con h3 {
    color: #333;
    font-size: 1rem;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
    padding: 0.2rem 0 .6rem;
    margin: 0;
}

.notice_date {
    color: #999;
    font-size: .7rem;
    text-align: center;
    height: 1.4rem;
    line-height: 1.4rem;
    margin-bottom: .2rem;
}
.notice_detail{
    padding: 0 .4rem;
}

.notice_detail p {
    color: #333;
    font-size: 0.8rem;
    line-height: 1.5rem;
    text-indent: 2em;
    margin-bottom: 1rem;
}