@charset "utf-8";
/* CSS Document */
* { 
  margin:0px; 
  padding:0px;  
}
body{
  font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"PingFang SC","Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  font-size:16px;
  margin:0;
  padding:0;
  
  }

ul{list-style: none;}
a:link,a:hover{text-decoration: none;}
a:hover{color: #0066cc;}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
i{
  font-style: normal;
}
.fl{float: left;}
.fr{float: right;}
.bgf8{
  background: #f8f8f8;
}
.bgff{
  background: #fff;
}
.relative{
  position: relative;
}
.space{
  height: .4rem;
  background: #f4f2f2;
}
input[type=checkbox]  {  
    display: inline-block;  
    vertical-align: middle;  
    width: .6rem;  
    height: .6rem;  
    margin-left: 6px; 
    margin-right: 6px; 
    -webkit-appearance: none;  
    background-color: transparent;  
    border: 0;  
    outline: 0 !important;  
}  
input[type=checkbox]:after  {  
    content: "";  
    display:block;  
    width: .6rem;
    height: .6rem;
    border: 1px solid #d6d6d6;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 2px;
}  
input[type=checkbox]:checked:after  {  
    background:#01204f url(../images/icon_check.png);  
    background-size: contain;
    border:none;
} 

.slide{clear:both;position:relative;z-index:0;width:100%;max-width:960px;max-height:480px;margin:0 auto 0 auto;overflow:hidden;}
.slide-box{ width:100%;height:100%; margin:0 auto;position:relative; overflow:hidden}
.slide .slide-ul{position:absolute;z-index:1;left:0;width:10000px;}
.slide .slide-ul li{float:left;display:block;}
.slide .slide-ul li img{display:block;width:100%;height:100%;}
.slide .title-box{ width:90%; padding:0 5%; z-index:999; height:30px; line-height:30px; color:#fff; font-size:14px; position:absolute; left:0; bottom:5px; text-align: center;}
.slide .circle{/* float:right;*/}
.slide .title{ float:left; display:inline-block;}
.slide .circle em{ display:inline-block; width:15px; height:5px; margin-left:5px; background-color:rgba(255,255,255,.5); border-radius:3px;}
.slide .circle .active{ background-color:#0d6db9;}

.clockin{
  width: 1.2rem;
  height: 1.2rem;
  background: url(../images/icon_clockin.png) no-repeat;  
  background-size: contain;
  position: absolute;
  top: .8rem;
  right: .5rem;
  z-index: 9;
}
/*首页新闻*/
.index_msg{
  height: 1.95rem;
  background: #fff;
}
.index_msg i{
  float: left;
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
  background: url(../images/icon_msg.png) no-repeat;  
  background-size: contain;
  margin: .36rem .4rem 0 .6rem;
}
.index_msg a{
  float: left;
  color: #666;
  font-size: .65rem;
  display: inline-block;
  height: 1.95rem;
  line-height: 1.95rem;
  width: 16rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
}
/*首页中间*/
.index_box{
  background: #fff;
  padding: .6rem;
  box-sizing: border-box;
}
.index_box a{
  background: #f9f9f9;
  border-radius: .2rem;
  width: calc( 50%  - .3rem);
  float: left;
  text-align: center;
  padding: .9rem 0;
  box-sizing: border-box;
  margin-bottom: .6rem;
}
.index_box a:nth-child(2n){
  float: right;
}
.index_box a:last-child{
  margin-bottom: 0;
}
.index_box a i{
  width: 1.6rem;
  height: 1.6rem;
  margin-bottom: .2rem;
  display: inline-block;
}
.index_box a p{
    color: #666;
    font-size: .7rem;
}
.index_box a i.index_icon1{
  background: url(../images/index_icon01.png);
  background-size: contain;
}
.index_box a i.index_icon2{
  background: url(../images/index_icon02.png);
  background-size: contain;
}
.index_box a i.index_icon3{
  background: url(../images/index_icon03.png);
  background-size: contain;
}
.index_box a i.index_icon4{
  background: url(../images/index_icon04.png);
  background-size: contain;
}
.index_box a i.index_icon5{
  background: url(../images/index_icon05.png);
  background-size: contain;
}
/*底部菜单*/
.bot_menu{
  background: #fff;
  height: 2.5rem;
  box-shadow: 0 -2px 5px rgba(0,0,0,.1);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.bot_menu a{
  width: 20%;
  float: left;
  text-align: center;
  padding: .2rem 0 .2rem;
  box-sizing: border-box;
}
.bot_menu a i{
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
}
.bot_menu a p{
  color: #666;
  font-size: .55rem;
  margin-top: -.2rem;
}
.bot_menu a.active p{
  color: #01204f;
}
.bot_menu a i.bot_menu1{
  background: url(../images/bot_menu1_n.png);
  background-size: contain;
}
.bot_menu a i.bot_menu2{
  background: url(../images/bot_menu2_n.png);
  background-size: contain;
}
.bot_menu a i.bot_menu3{
  background: url(../images/bot_menu3_n.png);
  background-size: contain;
}
.bot_menu a i.bot_menu4{
  background: url(../images/bot_menu4_n.png);
  background-size: contain;
}
.bot_menu a i.bot_menu5{
  background: url(../images/bot_menu5_n.png);
  background-size: contain;
}
.bot_menu a.active i.bot_menu1{
  background: url(../images/bot_menu1_a.png);
  background-size: contain;
}
.bot_menu a.active i.bot_menu2{
  background: url(../images/bot_menu2_a.png);
  background-size: contain;
}
.bot_menu a.active i.bot_menu3{
  background: url(../images/bot_menu3_a.png);
  background-size: contain;
}
.bot_menu a.active i.bot_menu4{
  background: url(../images/bot_menu4_a.png);
  background-size: contain;
}
.bot_menu a.active i.bot_menu5{
  background: url(../images/bot_menu5_a.png);
  background-size: contain;
}

/*顶部*/
.top_title{
  background: #01204f;
  height: 2.2rem;
  line-height: 2.2rem;
  font-size: .85rem;
  color: #fff;
  text-align: center;
}
.sub_menu{
  height: 2.2rem;
  line-height: 2.2rem;
  border-bottom: 1px solid #efefef;
  text-align:center;
}
.sub_menu a{
  width: 33.33%;
  float: left;
  color: #101010;
  font-size: .7rem;
  position: relative;
}
.sub_menu a.active i{
  background: #0d6db9;
  height: 2px;
  width: 2rem;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 1rem);
}
/*内容*/
.panels{
  height: 26rem;
  overflow-y: scroll; 
  width: 100%;
}
.panels>div{
  display: none;
}
.panels>div.panel1{
  display: block;
}

.list_item{
  background: #f9f9f9;
  border-radius: .2rem;
  padding: .45rem;
  box-sizing: border-box;
  margin: .6rem;
}
.list_item img{
  width: 7rem;
  height: 4rem;
  border-radius: .2rem;
  float: left;
  margin-right: .45rem;
}
.list_item>div{
  float: right;
  width: 9rem;
}
.list_item h3{
  color: #333;
  font-size: .7rem;
  height: 1.9rem;
  overflow: hidden;
  line-height: .9rem;
  font-weight: normal;
}
.list_item p{
  color: #999;
  font-size: .55rem;
}
.list_item a.btn_study{
  color: #01204f;
  font-size: .6rem;
  padding: .1rem .6rem;
  float: right;
  border: 1px solid #01204f;
  border-radius: 1rem;
}

/*选修*/
.xx_choose{
  padding: 0 .6rem;
}
.xx_choose li{
  border-bottom: 1px solid #ededed;
  height: 2.1rem;
  line-height: 2rem;
}
.xx_choose li label{
  font-size: .65rem;
  color: #333;
}
.tip_txt{
  color: #999;
  font-size: .55rem;
  text-align: center;
  margin-top: 1rem;
}
.btn_submit{
  background: #01204f;
  color: #fff;
  width: 90%;
  height: 2.2rem;
  line-height: 2.2rem;
  font-size: .85rem;
  display: block;
  border-radius: 1.1rem;
  text-align: center;
  margin: .6rem auto;
}
.dialog{
  background: #fff;
  border-radius: .2rem;
  width: 12rem;
  height: 6.6rem;
  padding: .6rem .8rem;
  position: absolute;
  left: calc(50% - 6rem);
  top: calc(50% - 3.3rem);
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  box-sizing: border-box;
  display: none;
}

.dialog a.btn_reset{
  color: #01204f;
  font-size: .6rem;
  padding: .1rem .6rem;
  display: inline-block;
  border: 1px solid #01204f;
  border-radius: 1rem;
  margin: 0 .2rem;
}
.dialog a.btn_submit1{
  background: #01204f;
  color: #fff;
  font-size: .6rem;
  padding: .1rem .6rem;
  display: inline-block;
  border-radius: 1rem;
  margin: 0 .2rem;
}
.dialog>div{
  text-align: center;
  margin: .3rem 0;
}
.dialog>p{
  font-size: .55rem;
  color: #666;
}
.dialog>ul>li{
  font-size: .55rem;
  color: #333;
  height: 1.4rem;
  line-height: 1.4rem;
  border: none;
  padding-left: 2em;
}
.dialog>ul>li>i{
  width: 4px;
  height: 4px;
  background: #0d6db9;
  border-radius: 2px;
  margin-right: .5rem;
  float: left;
  margin-top: .7rem;
}

/*课程详情*/
.course_video{
  height: 10.5rem;
}
.course_video img{
  width: 100%;
}
a.btn_back{
  width: 1.2rem;
  height: 1.2rem;
  background: url(../images/icon_back.png) no-repeat;  
  background-size: contain;
  position: absolute;
  top: .8rem;
  left: .4rem;
  z-index: 9;
}
.detail_sub_menu{
  height: 2.2rem;
  line-height: 2.2rem;
  border-bottom: 1px solid #efefef;
  text-align:center;
}
.detail_sub_menu a{
  width: 50%;
  float: left;
  color: #101010;
  font-size: .7rem;
  position: relative;
}
.detail_sub_menu a.active i{
  background: #0d6db9;
  height: 2px;
  width: 2rem;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 1rem);
}
.detail_tip{
  background: #f5f6f6;
  height: 2rem;
  padding: 0 .6rem;
  line-height: 2rem;
}
.detail_tip span{
  color: #4f4f4f;
  font-size: .55rem;
}
.detail_tip span i{
  color: #cc0000;
}
a.btn_alldown{
  background: #0d6db9;
  border-radius: .2rem;
  color: #fff;
  font-size: .5rem;
  float: right;
  height: 1.4rem;
  width: 4rem;
  margin-top: .3rem;
  line-height: 1.4rem;
}
a.btn_alldown i{
  background: url(../images/icon_download.png);
  width: .7rem;
  height: .7rem;
  float: left;
  background-size: contain;
  margin-top: .3rem;
  margin-right: .1rem;
  margin-left: .4rem;
}

/*课程详情——课件列表*/
.detail_list{
  padding: 0 .6rem;
}
.detail_list li{
  border-bottom: 1px solid #ededed;
  height: 2.75rem;
}
.detail_c{
  width: 80%;
  float: left;
}
.detail_c h3{
  color: #333;
  font-size: .7rem;
  height: 1.5rem;
  overflow: hidden;
  line-height: 1.6rem;
  font-weight: normal;
  background: url(../images/detail_iconlesson.png) no-repeat 0 center;
  background-size: .8rem;
  padding-left: 1.1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  width: 100%;
}
.detail_c p{
  color: #999;
  font-size: .55rem;
  padding-left:1.1rem; 
}
.detail_btns{
  float: right;
  margin-top: .65rem;
}
a.detail_btn_play{
  width: 1.2rem;
  height: 1.2rem;
  background: url(../images/detail_iconplay.png);
  background-size: contain;
  display: inline-block;
  margin-right:.2rem;
}
a.detail_btn_down{
  width: 1.2rem;
  height: 1.2rem;
  background: url(../images/detail_icondown.png);
  background-size: contain;
  display: inline-block;
}
/*课程详情——课程介绍*/
.detail_panel2{
  padding: .6rem .8rem;
  display: none;
  overflow-y: auto;
  box-sizing: border-box;
}
.detail_panel2 p{
  color: #333;
  font-size: .55rem;
  line-height: 1.1rem;
  text-indent: 2em;
}

/*离线课件*/
.down_title a.btn_back{
  top: .5rem;
}
.deownload_menu{
  height: 2.2rem;
  line-height: 2.2rem;
  border-bottom: 1px solid #efefef;
  text-align:center;
}
.deownload_menu a{
  width: 50%;
  float: left;
  color: #101010;
  font-size: .7rem;
  position: relative;
}
.deownload_menu a.active{
  color: #01204f;
}
.deownload_menu a.active i{
  background: #0d6db9;
  height: 2px;
  width: 2rem;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 1rem);
}
.deownload_menu a span{
  color: #cc0000;
}
.progress_bg{
  background-color: #e6e6e6;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}
.progress_down{
  background-color: #0d6db9;
  border-radius: 2px;
  height: 4px;
}
progress{
 width: 100%;
 height: 4px;
 color:#f00;
 background:#EFEFF4;
 border-radius: 0.1rem;
}
/* 表示总长度背景色 */
progress::-webkit-progress-bar{     
background-color: #e6e6e6;
border-radius: 0.2rem;
}
 /* 表示已完成进度背景色 */
progress::-webkit-progress-value{
 background: #0d6db9;
 border-radius: 0.2rem; 
}

.down_item{
  background: #fff;
  border-bottom: 1px solid #efefef;
  padding-bottom: 1rem;
}
.down_item span{
  color: #999;
  font-size: .55rem;
}

.top_title a.btn_edit{
  color: #d0e4ff;
  font-size: .55rem;
  position: absolute;
  top:0;
  right: .6rem;
}
.down_item input[type=checkbox]{
  float:left;
  margin-left: -.3rem;
  margin-top: 1.7rem;
  margin-right: .5rem;
}
.bot_btns{
  background: #fff;
  height: 2.5rem;
  box-shadow: 0 -2px 5px rgba(0,0,0,.1);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: none;
}
.bot_btns a{
  width: 50%;
  float: left;
  text-align: center;
  padding: .75rem 0;
  box-sizing: border-box;
  color: #666;
  font-size: .7rem;
}
.bot_btns a.btn_del{
  color: #cc0000;
  width: calc(50% - 1px);
}
.bot_btns a.btn_del i{
  font-style: normal;
}
.bot_btns em{
  height: .8rem;
  border-left:1px solid #ddd;
  float: left;
  margin:.85rem 0;
}

.phone_memory{
  background: #f1f1f1;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  color: #999;
  font-size: .55rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}
