.clockin {
    width: 1.7rem;
    height: 1.7rem;
    background: url(assets/images/icon_clockin.png) no-repeat;
    background-size: contain;
    position: absolute;
    top: var(--ion-safe-area-top, 0);
    right: .5rem;
    z-index: 9;
}

/*首页新闻*/
.index_msg {
    height: 2.2rem;
    background: #fff;

    ion-slides {
        ion-slide {
            height: 1.95rem;
            padding-left: 0;
        }
    }
}

.index_msg i {
    float: left;
    width: 1.6rem;
    height: 1.6rem;
    display: inline-block;
    background: url(assets/images/icon_msg.png) no-repeat;
    background-size: contain;
    margin: .3rem .4rem 0 .6rem;
}

.index_msg a {
    float: left;
    color: #666;
    font-size: .85rem;
    display: inline-block;
    height: 2.2rem;
    line-height: 2.2rem;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    text-align: left;
    margin-left: .2rem;
}

.space {
    height: .4rem;
    background: #f4f2f2;
}

/*首页中间*/
.index_box {
    background: #fff;
    padding: .6rem;
    box-sizing: border-box;
}

.index_box a {
    background: #f9f9f9;
    border-radius: .2rem;
    width: calc(50% - .3rem);
    float: left;
    text-align: center;
    padding: 1.1rem 0;
    box-sizing: border-box;
    margin-bottom: .6rem;
}

.index_box a:nth-child(2n) {
    float: right;
}

.index_box a:last-child {
    margin-bottom: 0;
}

.index_box a i {
    width: 1.8rem;
    height: 1.8rem;
    margin-bottom: 0;
    display: inline-block;
    margin-top: .8rem;
}

.index_box a p {
    color: #666;
    font-size: .9rem;
    margin: 0.4rem 0 .6rem;
}

.index_box a i.index_icon1 {
    background: url(assets/images/index_icon01.png);
    background-size: contain;
}

.index_box a i.index_icon2 {
    background: url(assets/images/index_icon02.png);
    background-size: contain;
}

.index_box a i.index_icon3 {
    background: url(assets/images/index_icon03.png);
    background-size: contain;
}

.index_box a i.index_icon4 {
    background: url(assets/images/index_icon04.png);
    background-size: contain;
}

.index_box a i.index_icon5 {
    background: url(assets/images/index_icon05.png);
    background-size: contain;
}