<ion-content>
    <ion-slides mode='ios' #bannerSlides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let item of advSvr.advs">
            <img [src]="item.image|safeUrl" />
        </ion-slide>
    </ion-slides>
    <i [routerLink]="['/attend']" class="clockin"
        [ngStyle]="{top: platform.is('cordova')&&platform.is('ios')?'var(--ion-safe-area-top, 0)':'.8rem'}"></i>
    <div class="index_msg">
        <i></i>
        <ion-slides #noticeSlides [options]="noticeOpts">
            <ion-slide *ngFor="let item of noticeSvr.getHomeNotice()">
                <a [routerLink]="['/notice/detail']" [queryParams]="{url:'/tabs/home',type:1,id:item.noticeId}">
                    <span>{{item.title}}</span>
                </a>
            </ion-slide>
        </ion-slides>
    </div>
    <div class="space"></div>
    <div class="index_box clearfix">
        <a [routerLink]="['/notice']">
            <i class="index_icon1"></i>
            <p>通知公告</p>
        </a>        
        <a [routerLink]="['/tabs/course']">
            <i class="index_icon3"></i>
            <p>在线课程</p>
        </a>
        <a [routerLink]="['/tabs/exam']">
            <i class="index_icon4"></i>
            <p>在线考试</p>
        </a>
        <a [routerLink]="['/tabs/assignment']">
            <i class="index_icon5"></i>
            <p>在线作业</p>
        </a>
        <a *ngIf="attendSvr.company" [routerLink]="['/attend']">
            <i class="index_icon2"></i>
            <p>考勤打卡</p>
        </a>
        <a [routerLink]="['/exam/cert']">
            <i class="index_icon6"></i>
            <p>成绩管理</p>
        </a>
    </div>
</ion-content>