<ion-content fullscreen="true">
    <ion-slides mode='ios' #bannerSlides pager="true" [options]="slideOpts">
        <ion-slide>
            <img src="assets/images/index_banner.jpg" />
        </ion-slide>
        <ion-slide>
            <img src="assets/images/index_banner2.jpg" />
        </ion-slide>
    </ion-slides>
    <i [routerLink]="['/attend']" class="clockin" [ngStyle]="{top: platform.is('cordova')&&platform.is('ios')?'var(--ion-safe-area-top, 0)':'.8rem'}"></i>
    <div class="index_msg">
        <i></i>
        <ion-slides #noticeSlides [options]="noticeOpts">
            <ion-slide>
                <a>
                    <span>你好～！</span>
                </a>
            </ion-slide>
            <ion-slide>
                <a>
                    <span>甘肃建筑职业技术学院2020年综合评价与中职生升学与中职生升学</span>
                </a>
            </ion-slide>
            <ion-slide>
                <a>
                    <span>大法师打发打发的说法是的发送到发送到发送到发送到发的发送到发送到发的啥饭</span>
                </a>
            </ion-slide>
            <ion-slide>
                <a>
                    <span>你好～！个</span>
                </a>
            </ion-slide>
        </ion-slides>
    </div>
    <div class="space"></div>
    <div class="index_box clearfix">
        <a [routerLink]="['/notice']">
            <i class="index_icon1"></i>
            <p>通知公告</p>
        </a>
        <a [routerLink]="['/attend']">
            <i class="index_icon2"></i>
            <p>考勤打卡</p>
        </a>
        <a [routerLink]="['/tabs/course']" >
            <i class="index_icon3"></i>
            <p>在线课程</p>
        </a>
        <a [routerLink]="['/tabs/exam']">
            <i class="index_icon4"></i>
            <p>在线考试</p>
        </a>
        <a [routerLink]="['/tabs/assignment']">
            <i class="index_icon5"></i>
            <p>在线作业</p>
        </a>
    </div>
</ion-content>