/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* CSS Document */

body {
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: #ffffff;
}

.header-md::after {
    left: 0;
    bottom: -5px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: none; //url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
    background-repeat: repeat-x;
    content: "";
}

ion-content {
    --background: #ffffff;
    --color: #000000;
}

ul {
    list-style: none;
    padding: 0;
}

a:link,
a:hover {
    text-decoration: none;
}

a:hover {
    color: #0066cc;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

i {
    font-style: normal;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.bgf8 {
    background: #f8f8f8;
}

.bgff {
    background: #fff;
}

.relative {
    position: relative;
}

.space {
    height: .4rem;
    background: #f4f2f2;
}

input[type=checkbox] {
    display: inline-block;
    vertical-align: middle;
    width: .8rem;
    height: .8rem;
    margin-left: 6px;
    margin-right: 6px;
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    outline: 0 !important;
}

input[type=checkbox]:after {
    content: "";
    display: block;
    width: .8rem;
    height: .8rem;
    border: 1px solid #d6d6d6;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 2px;
}

input[type=checkbox]:checked:after {
    background: #01204f url(assets/images/icon_check.png);
    background-size: contain;
    border: none;
}

.modal-dialog {
    --width: 16rem;
    --height: 10rem;
    --border-radius: .2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-sizing: border-box;
}

.pop-top-menu {
    --max-height: 100%;
    --width: 100%;
    --backdrop-opacity: 0.2;

    .popover-wrapper {
        width: 100%;
        position: absolute;
        top: var(--ion-safe-area-top, 0);
        bottom: auto !important;
        left: 0 !important;
        background: none;

        .popover-content {
            width: 100%;
            position: relative;
            top: 0 !important;
            bottom: auto !important;
            left: 0 !important;
            border-radius: 0;
        }
    }
}

.my-action-sheet {
    .action-sheet-button {
        font-size: 1rem;
        color: #333;
    }
}

/**百度地图**/
.anchorBL {
    display: none !important;
}

@import 'assets/videogular2/fonts/videogular.css';