/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* CSS Document */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;

}

ul {
    list-style: none;
}

a:link,
a:hover {
    text-decoration: none;
}

a:hover {
    color: #0066cc;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.bgf8 {
    background: #f8f8f8;
}

.bgff {
    background: #fff;
}

.relative {
    position: relative;
}

.space {
    height: .4rem;
    background: #f4f2f2;
}

input[type=checkbox] {
    display: inline-block;
    vertical-align: middle;
    width: .6rem;
    height: .6rem;
    margin-left: 6px;
    margin-right: 6px;
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    outline: 0 !important;
}

input[type=checkbox]:after {
    content: "";
    display: block;
    width: .6rem;
    height: .6rem;
    border: 1px solid #d6d6d6;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 2px;
}

input[type=checkbox]:checked:after {
    background: #01204f url(assets/images/icon_check.png);
    background-size: contain;
    border: none;
}