// 公共样式

ion-toolbar {
    --background: #01204f; // 头部背景颜色

    ion-title {
        --color: #ffffff; // 头部字体颜色
    }

    span.btn_back {
        width: 1.6rem;
        height: 1.6rem;
        background: url(assets/images/icon_back.png) no-repeat;
        background-size: contain;
        margin: .75rem auto .75rem .5rem;
    }
}