// 公共样式
ion-header {
    ion-toolbar {
        --background: #01204f; // 头部背景颜色
        --min-height: 2.8rem;
        text-align: center;

        ion-title {
            --color: #ffffff; // 头部字体颜色
            font-weight:normal;
            font-size:1.1rem;
        }

        span.btn_back {
            width: 1.6rem;
            height: 1.6rem;
            background: url(assets/images/icon_back.png) no-repeat;
            background-size: contain;
            margin: .75rem auto .75rem 0;
        }

        span.btn_close {
            width: 1.6rem;
            height: 1.6rem;
            background: url(assets/images/icon_close.png) no-repeat;
            background-size: contain;
            margin: .75rem auto .75rem 0;
        }
    }
}

ion-button {
    width: 100%;
    --background: #01204f;
    --background-activated-opacity: 0.3;
    --border-radius: 1.5rem;
}

ion-footer {
    ion-toolbar {
        // --background: #01204f;
        --padding-top: .8rem;
        --padding-bottom: .8rem;
        --padding-start: .8rem;
        --padding-end: .8rem;


    }
}
.sc-ion-buttons-md-h{
    position:absolute;
    left:0;
}
.sc-ion-buttons-md-h[slot="end"]{    
    left:auto;
    right:0;
}