<ion-content scrollY="false">
    <div class="own_top">
        <div class="own_head">
            <img [src]="auth.userInfo.photo|safeUrl" alt="">
        </div>
        <h3>{{auth.userInfo.studentName}}</h3>
        <!-- <i class="niname_edit"></i> -->
        <div class="own_count">
            <div>
                <h2>{{courseSvr.info.lessentTime}}</h2>
                <p>学习时长</p>
            </div>
            <div>
                <h2>{{courseSvr.info.questionCount}}</h2>
                <p>完成练习</p>
            </div>
            <div>
                <h2>{{courseSvr.info.examMnCount}}</h2>
                <p>模拟测试</p>
            </div>
            <div>
                <h2>{{courseSvr.info.examCount}}</h2>
                <p>在线考试</p>
            </div>
        </div>
    </div>
    <div class="own_list">
        <ul>
            <li class="own_lesson">
                <a [routerLink]="['/course/records']">
                    <i></i>听课记录 <span>查看学习进度<em></em></span>
                </a>
            </li>
            <li class="own_download">
                <a [routerLink]="['/course/download']">
                    <i></i>下载管理 <span>查看下载课程<em></em></span>
                </a>
            </li>
            <li class="own_score">
                <a [routerLink]="['/exam/records']">
                    <i></i>考试记录 <span>查看考试情况<em></em></span>
                </a>
            </li>
            <li class="own_homework">
                <a [routerLink]="['/assignment/completed']" [queryParams]="{from:'mine'}">
                    <i></i>我的作业 <span>查看作业<em></em></span>
                </a>
            </li>
            <li class="own_clockin" *ngIf="attendSvr.company">
                <a [routerLink]="['/attend/records']" [queryParams]="{url:'/tabs/mine'}">
                    <i></i>考勤打卡 <span>查看打卡记录<em></em></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="own_list own_list1">
        <ul>
            <li class="own_setup">
                <a [routerLink]="['/mine/settings']" routerDirection="forward">
                    <i></i>设置 <span><em></em></span>
                </a>
            </li>
            <li class="own_exit">
                <a (click)="logout()">
                    退出登录
                </a>
            </li>
        </ul>
    </div>
</ion-content>