<ion-content scrollY="false">
    <div class="own_top">
        <div class="own_head">
            <img src="assets/images/own_head.jpg" alt="">
        </div>
        <h3>张三的小幸运<i class="niname_edit"></i></h3>
        <div class="own_count">
            <div>
                <h2>798</h2>
                <p>学习时长</p>
            </div>
            <div>
                <h2>345</h2>
                <p>完成练习</p>
            </div>
            <div>
                <h2>66</h2>
                <p>模拟测试</p>
            </div>
            <div>
                <h2>8</h2>
                <p>在线考试</p>
            </div>
        </div>
    </div>
    <div class="own_list">
        <ul>
            <li class="own_lesson">
                <a [routerLink]="['/course/records']">
                    <i></i>听课记录 <span>查看学习进度<em></em></span>
                </a>
            </li>
            <li class="own_download">
                <a [routerLink]="['/course/download']">
                    <i></i>下载管理 <span>查看下载课程<em></em></span>
                </a>
            </li>
            <li class="own_score">
                <a [routerLink]="['/exam/records']">
                    <i></i>考试记录 <span>查看考试情况<em></em></span>
                </a>
            </li>
            <li class="own_homework">
                <a [routerLink]="['/assignment/my-work']" [queryParams]="{from:'mine'}">
                    <i></i>我的作业 <span>查看作业<em></em></span>
                </a>
            </li>
            <li class="own_clockin">
                <a href="javascript:;">
                    <i></i>考勤打卡 <span>查看打卡记录<em></em></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="own_list own_list1">
        <ul>
            <li class="own_clear">
                <a href="javascript:;">
                    <i></i>清除系统内存 <span>128.8M<em></em></span>
                </a>
            </li>
            <li class="own_setup">
                <a href="javascript:;">
                    <i></i>设置 <span><em></em></span>
                </a>
            </li>
            <li class="own_exit">
                <a (click)="logout()">
                    退出登录
                </a>
            </li>
        </ul>
    </div>
</ion-content>