<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [routerLink]="['/tabs/mine']" routerDirection="back">
                <span class="btn_back"></span>
            </ion-button>
        </ion-buttons>
        <ion-title>听课记录</ion-title>
        <ion-buttons slot="end">
            <ion-button class="btn-edit" (click)="changeEditStatus()">{{!editable?'编辑':'取消'}}</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="deownload_menu">
        <a (click)="changeTab(1)" [ngClass]="{active: curTab===1}">离线记录<i></i></a>
        <a (click)="changeTab(2)" [ngClass]="{active: curTab===2}">在线记录<i></i></a>
    </div>
    <div class="panels">
        <div class="panel1" [hidden]="curTab!==1">
            <div class="list_item down_item clearfix">
                <div class="cb" [hidden]="!editable">
                    <input type="checkbox" [hidden]="!editable">
                </div>
                <div class="lesson_mask">
                    <img src="assets/images/course_pic.jpg" alt="">
                    <a href="javascript:;" class="icon_play"></a>
                </div>
                <div>
                    <h3>财务舞弊手段（一）—调整手段</h3>
                    <div>
                        <span class="fl"><i></i>已观看至：10分20秒</span>
                    </div>
                </div>
            </div>
            <div class="list_item down_item clearfix">
                <div class="cb" [hidden]="!editable">
                    <input type="checkbox" [hidden]="!editable">
                </div>
                <div class="lesson_mask">
                    <img src="assets/images/course_pic.jpg" alt="">
                    <a href="javascript:;" class="icon_play"></a>
                </div>
                <div>
                    <h3>财务舞弊手段（一）—调整手段</h3>
                    <div>
                        <span class="fl"><i></i>已观看至：10分20秒</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel2" [hidden]="curTab!==2">
            <div class="list_item down_item clearfix">
                <div class="cb" [hidden]="!editable">
                    <input type="checkbox" [hidden]="!editable">
                </div>
                <div class="lesson_mask">
                    <img src="assets/images/course_pic.jpg" alt="">
                    <a href="javascript:;" class="icon_play"></a>
                </div>
                <div>
                    <h3>财务舞弊手段（一）—调整手段</h3>
                    <div>
                        <span class="fl"><i></i>已观看至：10分20秒</span>
                    </div>
                </div>
            </div>
            <div class="list_item down_item clearfix">
                <div class="cb" [hidden]="!editable">
                    <input type="checkbox">
                </div>
                <div class="lesson_mask">
                    <img src="assets/images/course_pic.jpg" alt="">
                    <a href="javascript:;" class="icon_play"></a>
                </div>
                <div>
                    <h3>财务舞弊手段（一）—调整手段</h3>
                    <div>
                        <span class="fl"><i></i>已观看至：10分20秒</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bot_btns" style="display: block;" [hidden]="!editable">
        <a href="javascript:;">全选</a>
        <em></em>
        <a href="javascript:;" class="btn_del">删除<i>(1)</i></a>
    </div>
</ion-content>